{% extends '::base.html.twig' %}
{% block body %}
    <h1 align="center">Planning professeur</h1>


    <div id='calendar'></div>
    <div id="event_edit_container">
        <form method="post">
            <input type="hidden" />
            <ul>
                <li>
                    <span>Date: </span><span class="date_holder"></span>
                </li>
                <li>
                    <label for="start">Start Time: </label><select name="start1"><option value="">Select Start Time</option></select>
                </li>
                <li>
                    <label for="end">End Time: </label><select name="end1"><option value="">Select End Time</option></select>
                </li>
            </ul>
        </form>
    </div>

{% endblock %}