{% extends '::base.html.twig' %}
{% block body %}

    <h1 align="center">Planning professeur</h1>
    <div id='calendar1'></div>
    <div class="container" align="center">
        <br>
        <br>
        <div class = "panel panel-default">
            <div class = "panel-heading">
                <h3 align="center">Reservation horaire cours</h3>
            </div>

            <div class = "panel-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="form-horizontal">
                    <div>
                        {% for flashMessage in app.session.flashbag.get('notice') %}

                        <h4 style="color: #d43f3a"><b>{{ flashMessage }}</b></h4>

                        {% endfor %}
                    </div>
                    <br>
                    <input id="time" type="hidden"/>
                    <input id="date" type="hidden"/>
                    <input id="mintime" type="hidden"/>
                    <input id="maxtime" type="hidden"/>
                    <input id="prix" type="hidden"/>
                    <div class="form-group">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-4">
                    <select class="form-control" name="datedebutp" id="datedebutp">
                        <option>Choisir un jour plannifier</option>
                        {% for rs in datebebutplanning %}
                            <option value="{{ rs.id }}">{{ rs.dateDebut}} a {{ rs.dateFin }}</option>
                        {% endfor %}
                    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email"></label>
                        <div class="col-sm-6">
                            {{ form_widget(form.heureDebut, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd"></label>
                        <div class="col-sm-6">
                            {{ form_widget(form.heureFin, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd"></label>
                        <div class="col-sm-6">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'Email'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-12">
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <br>
        <br>
        {% if reservation|length > 0 %}
            <table class="table table-bordered table-hover table-striped">
                <thead class="bordered-darkorange">
                <tr role="row">
                    <th>Date Reservation</th>
                    <th>Heure debut</th>
                    <th>Heure fin</th>
                    <th>Email</th>
                    <th>Prix</th>
                </tr>
                </thead>

                <tbody>
                {% for rs in reservation %}
                    <tr>
                        <td>
                            {{ rs.dateReservation }}
                        </td>
                        <td>
                            {{ rs.heureDebut }}
                        </td>
                        <td>
                            {{ rs.heureFin }}
                        </td>
                        <td>
                            {{ rs.email }}
                        </td>
                        <td>
                            {{ rs.prix }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}