<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/jquery-ui-1.8rc3.custom.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/jquery.weekcalendar.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/demo.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8rc3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.weekcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js') }}"></script>

{% endblock %}
</body>
</html>
